.card {
  border: none;
  -webkit-box-shadow: 1px 0 20px rgba(96,93,175,.05);
  box-shadow: 1px 0 20px rgba(96,93,175,.05);
  margin-bottom: 30px;
}
.table th {
  font-weight: 500;
  color: #827fc0;
}
.table thead {
  background-color: #f3f2f7;
}
.table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>td {
  padding: 14px 12px;
  vertical-align: middle;
}
.table tr td {
  color: #8887a9;
}

.container {
  display: flex;
  flex-direction: column;
}
.add-filter button {
  background-color: #156bbb;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
}
.add-filter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  margin: 0;
}
