.filter-dialog {
  display: grid;
  grid-template-columns: 1fr 6fr;
  height: 100%;
  justify-content: center;
  overflow: auto;
}
.labels {
  display: flex;
  flex-direction: column;
  padding-left: 35px;
  padding-top: 30px;
  font-weight: bold;
}
#filter-name-input {
  width: 31%;
}
.filter-header {
  background-color: #5ebfcc;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resize-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: nwse-resize;
}

form {
  padding: 40px;
}
label {
  padding: 10px;
}
#close {
  position: relative;
  border: none;
  padding: 0;
  width: 2em; height: 2em;
  color: white;
  text-indent: 100%;

  &:before, &:after {
    position: absolute;
    top: 15%; left: calc(50% - .0625em);
    width: .125em; height: 70%;
    border-radius: .125em;
    transform: rotate(45deg);
    background: currentcolor;
    content: ''
  }

  &:after { transform: rotate(-45deg); }
}
.form-select {
  width: 20%;
}

.add-row-btn {
  background-color: #6c757d;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
}
.add-row-btn i {
  margin-right: 0.5rem;
  font-size: 20px;
}
.filter-footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f2f2f2;
  margin-bottom: 0;
}
#close-footer {
  display: flex;
  background-color: #6c757d;
  justify-content: center;
  color: white;
  border: none;
  width: 125px;
  border-radius: 0.25rem;
  padding: 5px;
  margin-right: 10px;
}
#save-footer {
  display: flex;
  background-color: #156bbb;
  justify-content: center;
  color: white;
  border: none;
  width: 125px;
  border-radius: 0.25rem;
  padding: 5px;
  margin-left: 10px;
}
.rowContainer {
  overflow-y: auto;
  flex-grow: 1;
}
.container {
  display: flex;
  justify-content: center;
}
.mode-selection {
  display: flex;
  align-items: center;
  padding-left: 35px;

}

.mode-title {
  margin-right: 20px;
  font-weight: bold;
}

.radio-group {
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}

.radio-group label {
  margin-right: 20px;
}


