<div class="filter-dialog">
  <div class="filter-header">
    <h6>Filter</h6>
    <button class="btn" id="close"></button>

  </div>
  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <label>
      Filter Name
      <input formControlName="filterName">
    </label>
    <div>
      <label>
        Criteria
        <select formControlName="criteriaType">
          <option>Amount</option>
          <option>Amount</option>
        </select>
        <select formControlName="criteriaCondition">
          <option>Amount</option>
          <option>Amount</option>
        </select>
        <input formControlName="criteriaMetric">
      </label>
    </div>

    <button type="submit">Apply Filter</button>
  </form>
</div>
